<section>

  <header class="page-header">
    <h1>Your Admin Dashboard</h1>
  </header>
    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Total Category Count</th>
            <th><%= total_category_count %></th>
          </tr>
          <tr>
            <th>Total Product Count</th>
            <th><%= total_product_count %></th>
          </tr>
        </thead>
      </table>
    </div>

</section>


